{{!-- 分页 --}}
<ul class="pagination pagination-sm" style="padding:0;margin: 6px 0 0;">
    {{#if previous}}
    <li><a href="?page=1&limit={{limit}}&{{qs}}">首页</a></li>
    <li><a href="?page={{{minus page}}}&limit={{limit}}&{{qs}}">上一页</a></li>
    {{/if}}
    <li class="disabled"><a>共{{count}}条 {{page}}/{{maxpage}}</a></li>
    {{#if next}}
    <li><a href="?page={{{add page}}}&limit={{limit}}&{{qs}}">下一页</a></li>
    <li><a href="?page={{maxpage}}&limit={{limit}}&{{qs}}">末页</a></li>
    {{/if}}
</ul>